{% extends 'base.html' %}

{% block search %}

<form action="{% url 'search' %}" class="form-inline my-2 my-lg-0 mr-auto" method="get">
    
    <div class="input-group">
        
        <select class="custom-select" id="exampleFormControlSelect1" name="q">
            <option value="">All</option>
        {% for cat in categories %}
            <option value={{cat}} {% if cat|upper == sel_cat|upper %} selected{% endif %}>{{cat}}</option>        
        {% endfor %}
        </select>
    </div>
    <div class="input-group-append">
        <button class="form-group form-control btn btn-primary" type="search">Search</button>
    </div>
</form>

{% endblock %}

{% block content %}
<div class="row">
    <h1>{% if sel_cat|upper == '' %}All {% else %}{{sel_cat}} {% endif %}Products</h1>
</div>
<div class="row mt-2">
    
       {% for product in products %}
        <div class = "col-xs-12 col-md-4 col-lg-3 mb-2">
             <div class="card mb-0 h-100 border border-dark">
                    <img class="card-img-top" src='{{ MEDIA_URL }}{{ product.image }}'>
                <div class="card-body card-display">
                    
                    <h3 class="card-title">{{ product.name }}</h3>
                    <p class="card-text">{{ product.description }}
                        <span style="color:red">{% if product.stock <= product.stock_alert %} <br> 
                            Only {{product.stock}} left! {% endif %}</span></p>
                    <p>Price: <i class="fa fa-eur" aria-hidden="true"></i>{{ product.price }}</p>

                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                    
                        {% csrf_token %}
                        <div class="form-group mx-sm-3 mb-2">
                            <input name="quantity" type="number" min="1" max="{{product.stock}}" value="1" class="form-control" placeholder="Quantity" >
                            
                        </div>

                        <button class="btn-sm btn-primary" type="submit" name="select" value="add">Add to Cart</button> 

                        {% if product.id in cartIDS %}
                            <button class="btn-sm btn-danger" type="submit" name="select" value="remove">Remove from Cart</button> 
                        {% else %}   
                            <button class="btn-sm btn-secondary" type="submit" name="select" value="remove" disabled>Remove from Cart</button> 
                        {% endif %}
                        
                    </form>

                </div>      
             </div>  
        </div>
        {% endfor %}
    
</div>

{% endblock %}