
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');

body {
    font-family: 'Londrina Solid', cursive;
        background-color: #f1e207
    /* padding-top: 100px; */
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.card-display {
    background-color: hsla(0, 6%, 79%, 0.884)
}
