{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <h1> Lets Send your Costumes !! </h1>
</div>

<div class="row mt-2">
    {% for item in cart_items %}
        <div class="col-xs-12 col-md-4 col-lg-3 mb-2">
        
          <div class="card mb-0 h-100 border border-dark">
                <img class="card-img-top" src='{{ MEDIA_URL }}{{ item.product.image }}'>
                <div class="card-body card-display">  
                    <h3 class="card-title">{{ item.product.name }}</h3>
                    <p class="card-text">{{ item.product.description }}</p>
                    <p>Price: <i class="fa fa-eur" aria-hidden="true"></i>{{ item.product.price }}</p>
                </div>  
          </div>  
        </div>  
    {% endfor %}
</div>
<div class="row mt-3 mb-3">
  <div class="col-sm-12 col-md-4 col-lg-3">
         <button class="btn btn-success btn-block">Total Price  <i class="fa fa-eur" aria-hidden="true"></i>{{ total }}</button>     
  </div>  
</div>

<div class="row">
    <div class="col">
        <form method="POST" id="payment-form" action="{% url 'checkout' %}">
            
            <div id="credit-card-errors" style="display: none;">
                <div id="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            <div class="row">
            <div class="form-group col-md-6">
            <legend>Your Address</legend>
                {{ order_form | as_bootstrap }}
            </div>

            <div class="form-group col-md-6">
                <legend>Payment Details</legend>
                {{ payment_form | as_bootstrap }}
            </div>
            </div>
            {% csrf_token %}
            <div class="form-group col-md-12">
                <button class=" btn btn-primary btn-block" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment"><span style="font-size:150%">Make Payment</span></button>
            </div>
        </form>

    </div>
</div>
{% endblock %}